// * Colours
// Цвет выделения текста
$selection-bg: #1155d471;
// Цвет блика сияющих кнопок
$btn-shine-color: #ffffff86;
// Множитель для управления размером окошка
$multiplier: .05;
// z-index оболочки окна
$wrap-z-index: 100;

// Обнуление
*,*::before,*::after{box-sizing:border-box;}
::selection{background-color: $selection-bg;}
ul,ol{margin: 0;padding:0;list-style:none;}
html,body{height: 100%;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li{margin:0;padding:0;}
body{scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5;overflow:auto;}
a{color:inherit;font-family:inherit;text-decoration:none;}
img{max-width:100%;display:block;}
input,button{outline:none;}
input[type = "submit"],button,label{cursor: pointer;}
input[type = "submit"],button{padding: 0; color: inherit; border: none; background-color: transparent;}
input,button,textarea,select{font:inherit;}
input[type="checkbox"],input[type="radio"]{display: none;}
table{border-collapse: collapse;}
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// PT Sans
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
	font-family: Montserrat, sans-serif;
}

// * Миксины
// Стили для анимации сияющей кнопки
@mixin shining-btn-mixin($color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7, $color-8, $color-9, $color-10) {
    background-image: linear-gradient(
        -45deg,
        $color-1 6.5% 10%,
        $color-2 16.5% 20%,
        $color-3 26.5% 30%,
        $color-4 36.5% 40%,
        $color-5 46.5% 50%,
        $color-6 56.5% 60%,
        $color-7 66.5% 70%,
        $color-8 76.5% 80%,
        $color-9 86.5% 90%,
        $color-10 96.5% 100%
    ), 
    linear-gradient(180deg, #81B5FF 0%, #4A83DF 100%);
}

// Миксин для стилей строк с эффектом печатной машинки
@mixin backstory-popup-typing-strings-styles($time) {
	grid-column: 2;
	width: 0;
	line-height: 30vw*$multiplier;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	margin-right: auto;
	transition: width $time;
}

// Миксин для текста реплики 
@mixin backstory-popup-buble-styles($bubble-num) {
	// Общие стили для пузырей с репликами
	opacity: 1;
	font-size: 16vw*$multiplier;
	font-weight: 500;
	line-height: 24vw*$multiplier;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 30vw*$multiplier;
	box-shadow: 0 4vw*$multiplier 4vw*$multiplier 0 #00000040;
	position: absolute;
	z-index: $wrap-z-index;
	color: #333333;
	background-color: #fff;


	@if ($bubble-num == 1) {
		width: 390vw*$multiplier;
		height: 130vw*$multiplier;
		top: 210vw*$multiplier;
		left: 180vw*$multiplier;

		.backstory-popup__buble-triangle {
			width: 46vw*$multiplier;
			height: 46vw*$multiplier; 
			right: -22vw*$multiplier;
			transform: rotate(38.6deg) skewX(-20deg) skewY(-8deg);
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			position: absolute;
			overflow: hidden;
			border-top-right-radius: 12vw*$multiplier;
			background-color: #ffffff; 
		}
	} 
	@else if ($bubble-num == 2) {
		width: 552vw*$multiplier;
		height: 150vw*$multiplier;
		top: 43vw*$multiplier;
		left: 651.49vw*$multiplier;

		.backstory-popup__buble-triangle {
			width: 46vw*$multiplier;
			height: 46vw*$multiplier; 
			left: -6vw*$multiplier;
			bottom: -6vw*$multiplier;
			transform: rotate(-180deg) skewX(-23deg) skewY(-11deg);
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			position: absolute;
			overflow: hidden;
			border-top-right-radius: 12vw*$multiplier;
			background-color: #ffffff;
		}
	}
	@else if ($bubble-num == 3) {
		width: 552vw*$multiplier;
		height: 127vw*$multiplier;
		top: 59vw*$multiplier;
		left: 193vw*$multiplier;

		.backstory-popup__buble-triangle {
			width: 46vw*$multiplier;
			height: 46vw*$multiplier; 
			right: -7vw*$multiplier;
			bottom: -6vw*$multiplier;
			transform: rotate(84deg) skewX(-23deg) skewY(-11deg);
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			position: absolute;
			overflow: hidden;
			border-top-right-radius: 12vw*$multiplier;
			background-color: #ffffff;
		}
	}
	@else if ($bubble-num == 4) {
		width: 466vw*$multiplier;
		height: 127vw*$multiplier;
		top: 113vw*$multiplier;
		left: 185vw*$multiplier;

		.backstory-popup__buble-triangle {
			width: 46vw*$multiplier;
			height: 46vw*$multiplier; 
			right: -22vw*$multiplier;
			transform: rotate(38.6deg) skewX(-20deg) skewY(-8deg);
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			position: absolute;
			overflow: hidden;
			border-top-right-radius: 12vw*$multiplier;
			background-color: #ffffff; 
		}
	}
	
}

// Миксин для кнопок
@mixin backstory-popup-btn-styles($modifer-name) {
	font-family: 'pt sans';
	text-align: center;
	line-height: 23.29vw*$multiplier;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1000vw*$multiplier;

	@if ($modifer-name == 'blue') {
		min-width: 200vw*$multiplier;
		height: 100%;
		font-weight: 600;
		text-shadow: 1vw*$multiplier 1vw*$multiplier 2vw*$multiplier #284775;
		color: #FFFFFF !important;
		background-image: linear-gradient(180deg, #81B5FF 0%, #4A83DF 100%);
	} @else if ($modifer-name == 'orange') {
		font-weight: 600;
		padding: 2vw*$multiplier 16vw*$multiplier 4vw*$multiplier 16vw*$multiplier !important;
		text-shadow: 1vw*$multiplier 1vw*$multiplier 2vw*$multiplier #9D630C;
		box-shadow: 0 2vw*$multiplier 3vw*$multiplier 0 #00000026;
		color: #FFFFFFE5 !important;
		background-image: 
			radial-gradient(50% 46.13% at 53.03% 51.66%, rgba(255, 255, 255, 0.22) 28.48%, rgba(255, 255, 255, 0) 100%),
			linear-gradient(101.99deg, #FFBF1B -3.15%, #FE9E0D 28.77%, #FF881A 85.67%);
	} @else if ($modifer-name == 'absolute') {
		height: 26vw*$multiplier;
		font-size: 18vw*$multiplier;
		font-weight: 400;
		position: absolute;
		z-index: $wrap-z-index;
		top: 36vw*$multiplier;
		right: 48vw*$multiplier;
		padding-left: 32vw*$multiplier;
		text-shadow: 0 0 12vw*$multiplier #000000;
		background-position: center left;
		background-repeat: no-repeat;
		background-size: contain;
		color: #fff;
		background-image: url('assets/restart.svg');
	} @else if ($modifer-name == 'blue-shining') {
		color: #FFFFFF !important;
		animation: btn-shine .55s;
	}
}

// * Анимация
// Анимация сияющих кнопок
@keyframes btn-shine {
    from {
        @include shining-btn-mixin($btn-shine-color, $btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    10% {
        @include shining-btn-mixin(transparent, $btn-shine-color, $btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    20% {
        @include shining-btn-mixin(transparent, transparent, $btn-shine-color, $btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    30% {
        @include shining-btn-mixin(transparent, transparent, transparent, $btn-shine-color, $btn-shine-color, transparent, transparent, transparent, transparent, transparent)
    }
    40% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, $btn-shine-color, $btn-shine-color, transparent, transparent, transparent, transparent)
    }
    50% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, $btn-shine-color, $btn-shine-color, transparent, transparent, transparent)
    }
    60% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color, $btn-shine-color, transparent, transparent)
    }
    70% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color, $btn-shine-color, transparent)
    }
    80% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color, $btn-shine-color)
    }
    90% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color)
    }
}
// Анимация элементов заставки
@keyframes title-screen-elements-opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes title-screen-before-opacity {
	from, 40% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
// Анимация экрана видеозаписи
@keyframes recording-screen-circle-blinking {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
@keyframes recording-screen-camera-focus {
	from, to {
		backdrop-filter: blur(0vw);
	}

	50% {
		backdrop-filter: blur(.3vw);
	}
}

// * Стили окна предыстории
.backstory-popup {
	width: 1280vw*$multiplier;
	height: 700vw*$multiplier;
	position: relative;
	background-color: #000000;
	border-radius: 50vw*$multiplier;
	border: 4vw*$multiplier solid #dc6782;
	box-shadow: 0 0 94vw*$multiplier 0 #3C538C;
	overflow: hidden;

	// * Оболочка окна
	&-wrap {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: $wrap-z-index;
		background-color: #3c538c99;
	}

	// * Содержимое окна
	&__content {
		opacity: 0;
		
		&--active {
			height: inherit;
			width: inherit;
			opacity: 1;
			transition: opacity 1s;
		}
	}

	// * Заставка окна
	&__title-screen {
		width: inherit;
		height: inherit;
		position: absolute;
		z-index: $wrap-z-index+10;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000000;
		opacity: 1;
		transition: opacity 2s;
		
		&--transparent {
			opacity: 0;
		}
		&--inactive {
			display: none !important;
		}
		

		// Логотип
		&-logo {
			height: 120vw*$multiplier;
			position: inherit;
			z-index: $wrap-z-index+12;
			opacity: 1;
			animation: title-screen-elements-opacity 2s;
		}

		// Текст "Представляет"
		&::before {
			content: 'представляет';
			font-weight: 500;
			position: absolute;
			bottom: 80vw*$multiplier;
			text-transform: uppercase;
			color: #b5a89394;
			font-size: 14vw*$multiplier;
			letter-spacing: 1.4vw*$multiplier;
			opacity: 1;
			animation: title-screen-before-opacity 3s;
		}

		// Блик по центру
		&::after {
			content: '';
			width: 950vw*$multiplier;
			height: 950vw*$multiplier;
			border-radius: 100%;
			background-image: radial-gradient(center, #ffffff2e, transparent 70%);
			filter: blur(2vw);
			opacity: 1;
			animation: title-screen-elements-opacity 2s;
		}
	}

	//* Все слайды окна
	&__slide {
		opacity: 0;
		position: absolute;
		z-index: -100;

		&--active {
			width: 100%;
			height: 100%;
			position: relative;
			opacity: 1;
			z-index: inherit;
			transition: opacity 2s;
		}
		&--transparent {
			opacity: 0;
			transition: opacity 1s;
		}

		// Экран видеозаписи
		&-recording-screen {
			opacity: 0;
			transition: opacity 1s;

			&--active {
				opacity: 1;
				position: absolute;
				z-index: $wrap-z-index;
				top: 0;
				width: 100%;
				height: 100%;
				background-image: url('assets/recording-screen.png');
				background-size: 90%;
				background-position: center;
				background-repeat: no-repeat;
				animation: recording-screen-camera-focus 3s infinite;

				// Мигающая точка
				&::before {
					content: '';
					width: 34vw*$multiplier;
					height: 34vw*$multiplier;
					position: absolute;
					top: 114vw*$multiplier;
					right: 255vw*$multiplier;
					border-radius: 100%;
					background-color: #ff0000;
					animation: recording-screen-circle-blinking .5s infinite;
				}
			}
		}
	}

	// * Видео
	&__video {
		filter: blur(0vw)
	}

	//* Строки с эффектом печатания
	&__typing-string {
		// Модификаторы времени эффекта
		&--1s {
			@include backstory-popup-typing-strings-styles(1s);
		}
		&--2s {
			@include backstory-popup-typing-strings-styles(1.8s);
		}
		&--3s {
			@include backstory-popup-typing-strings-styles(3s);
		}
		// Активный класс
		&--active {
			width: 100%;
		}

		// Grid-контейнер для строк
		&-wrap {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
		}
	}

	//* Пузырь реплики
	&__bubble {
		opacity: 0;
		transition: opacity 1s;

		&-1--active {
			@include backstory-popup-buble-styles(1);
		}
		&-2--active {
			@include backstory-popup-buble-styles(2);
		}
		&-3--active {
			@include backstory-popup-buble-styles(3);
		}
		&-4--active {
			@include backstory-popup-buble-styles(4);
		}
	}

	//* Рассказчик
	&__narrator {
		opacity: 0;
		transition: opacity 1s;

		&--active {
			opacity: 1;
			min-height: 50vw*$multiplier;
			font-size: 18vw*$multiplier;
			text-align: center;
			padding: 20vw*$multiplier 30vw*$multiplier;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;
			position: absolute;
			left: 200vw*$multiplier;
			right: 200vw*$multiplier;
			font-size: 18vw*$multiplier;
			bottom: 50vw*$multiplier;
			border-radius: 20vw*$multiplier;
			border: 4vw*$multiplier solid #6393ee;
			box-shadow: 0 4vw*$multiplier 10vw*$multiplier 0 #00000040;
			color: #333333;
			background-color: #ffffffe6;
			z-index: $wrap-z-index+3;
		}

		// Линии
		&-row {
			// Рассказчик
			// &-1 {} // ! Стили не заданы
			// Кнопки и формы
			&-2 {
				position: absolute;
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: 
					height 1s,
					opacity 1s;
				transition-delay: 0s, 1s;

				&--active {
					position: static;
					font-family: 'pt sans', sans-serif;
					height: 50vw*$multiplier;
					display: flex;
					justify-content: center;
					gap: 10vw*$multiplier;
					overflow: visible;
					opacity: 1;
				}
			}
		}
	}

	// * Кнопки
	&__btn {
		&--blue {
			@include backstory-popup-btn-styles('blue');
		}
		&--orange {
			@include backstory-popup-btn-styles('orange');
		}
		&--absolute {
			@include backstory-popup-btn-styles('absolute');
		}
		&--blue-shining {
			@include backstory-popup-btn-styles('blue-shining');
		}
	}

	// * Формы и поля для ввода
	&__form {
		display: inherit;
		gap: 1em;
	}
	&__input {
		width: 240vw*$multiplier;
		padding: 0 1em;
		border: 3vw*$multiplier solid #6393ee;
		border-radius: .8em;
		color: #333333;
		background-color: #fff;

		&::placeholder {
			color: #888B99;
		}
	}

	// * Жирный розовый текст
	&__bold--pink {
		font-weight: 900;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-color: #e86281;
		background-image: linear-gradient(180deg, #FF8AA6 0%, #E45678 100%);
	}

	// * Общие модификаторы элементов
	&__element {
		// Модификатор прозрачности
		&--transparent {
			opacity: 0;
		}
	}
}